.nav {
    grid-column-start: 1;
    grid-row: 2 / 4;
    height: 400px;
    background-color: #161618;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 4px solid #00a4ff;
}
.nav__inner {
    margin: 20px auto;
    width: 60%;
    height: 80%;
    list-style-type:none;
}
.nav__inner li {
    margin-bottom: 15px;
    cursor: pointer;
}
.nav__inner li a {
    color: #e8e5e0;
    font-size: 20px;
    text-decoration: none;
}
.nav__inner li a:hover {
    color: #abdcff;
    transition: linear 0.2s;
}
.nav__inner li a.active {
    color: #abdcff;
}