@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
body {
  background-color: #595c5d;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #e8e5e0;    /*text color*/
}


.app-wrapper {
  display: grid;
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  grid-template-areas: "h h" "n c";
  grid-template-rows: 82px 1fr;
  grid-auto-columns: 2fr 10fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;

}
.header {
  grid-area: h;
  background-color: #161618;
  border-left: 4px solid #161618;
  border-top: 4px solid #161618;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-right: 4px solid #00a4ff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.header__logo {
  position: relative;
  z-index: 9998;
  width: 0;
  height: 0;
  border-top: 0 solid transparent;
  border-left: 168px solid #00a4ff;
  border-bottom: 72px solid transparent;

}
.header__logo img {
  z-index: 9999;
  left: -163px;
  top: 0;
  position: relative;
  width: 55px;
  margin-left: 10px;
  transform: rotate(15deg);
}
.intro__img {
 grid-column-start: 1;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-bottom: 4px solid #00a4ff;
}
.nav {
  grid-area: n;
  background-color: #161618;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 4px solid #00a4ff;
}
.nav__inner {
  margin: 20px auto;
  width: 60%;
  height: 80%;
  list-style-type:none;
}
.nav__inner li {
  color: #e8e5e0;
  font-size: 20px;
  margin-bottom: 15px;
}
.content {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 40%;
  grid-area: c;
  background-color: #27282e;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  height: 600px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.user__info  {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100%;
  margin: 20px auto;
  width: 95%;
}
.user__info img {
  margin-top: 13px;
  width: 180px;
  height: 180px;
  border-radius: 200px;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.info__inner {
  list-style-type:none;
  margin-top: 13px;
}
.info__inner li {
  margin-bottom: 10px;
}